<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Test</title>
    </head>

    <body>
        <header>
            <div class="">Logo</div>
            <div class="">Navigation</div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input
                        id="url"
                        type="text"
                        name="url"
                        value=""
                        placeholder="Enter an url"
                    />
                    <div id="invalid">Invalid URL!</div>
                    <input
                        type="submit"
                        name=""
                        value="Submit"
                        onclick="return Client.handleSubmit(event)"
                        onsubmit="return Client.handleSubmit(event)"
                    />
                </form>
            </section>

            <section>
                <strong>Sentiment Analysis Results:</strong>
                <div class="results">
                    <p>Agreement: <span id="agreement"></span></p>
                    <p>Subjectivity: <span id="subjectivity"></span></p>
                    <p>Confident: <span id="confidence"></span></p>
                    <p>Irony: <span id="irony"></span></p>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
    </body>
</html>
