@import "variables.css";

/* ---------------- POST PAGE --------------- */
.post-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-content {
    max-width: 800px;
    padding: 20px;
}

.post-body-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

.post-body-image figcaption {
    margin-top: 10px;
}

.post-content img {
    width: 80%;
    height: auto;
}

.related-posts {
    max-width: 800px;
    width: 100%;
    margin-bottom: 20px;
}

/* ----------- Author ------------- */
.author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    max-width: 800px;
}

.author-avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid var(--color-teal-green);
    background-color: var(--color-pale-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-avatar i {
    scale: 3;
    color: var(--color-teal-green);
}

.author-name {
    font-size: 1.2em;
    margin-top: 10px;
}

blockquote {
    width: 80%;
    margin: 20px auto;
    font-style: italic;
    padding: 20px 10px 10px 30px;
    border-left: 8px solid var(--color-teal-green);
    background: #ededed;
    position: relative;
}

blockquote::before {
    content: "\201C";
    color: var(--color-teal-green);
    font-size: 3em;
    position: absolute;
    left: 5px;
    top: 5px;
}

blockquote::after {
    content: "";
}
