@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "variables.css";
@import "header.css";
@import "hero.css";
@import "sidebar.css";
@import "post.css";
@import "post-page.css";
@import "footer.css";

/* ----------- General -----------*/
::selection {
    background-color: var(--color-pale-green);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gelasio", serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-charcoal);
    background-color: var(--color-ghost-white);
}

a {
    text-decoration: none;
    color: var(--color-charcoal);
}

p {
    line-height: 24px;
}

.wrapper {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.icon {
    color: var(--color-teal-green);
    cursor: pointer;
    scale: 1.5;
}

.btn {
    font-family: "Gelasio", serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    border: 2px solid var(--color-coral-red);
    background-color: var(--color-coral-red);
    color: var(--color-charcoal);
}

.btn-primary {
    border: 2px solid var(--color-teal-green);
    background-color: var(--color-teal-green);
    color: var(--color-ghost-white);
}

.btn-secondary {
    border: 2px solid var(--color-teal-green);
    background-color: transparent;
    color: var(--color-charcoal);
}

/* ------------ Responsive ------------- */
@media screen and (max-width: 970px) {
    .flex-container {
        flex-direction: column;
    }

    .hero .post-container {
        flex-direction: column;
        align-items: center;
    }

    .hero .post-info {
        padding: 0;
        margin-top: 20px;
    }

    .hero .post-image {
        width: 50%;
    }

    .menu {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .sidebar {
        width: auto;
        max-width: 900px;
        border: 0;
    }

    .sidebar .post-container {
        margin: 0;
    }

    .footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 680px) {
    .post-summary {
        display: none;
    }

    .post-image {
        width: 100px;
        height: 100px;
    }

    .hero .post-image {
        width: 80%;
    }

    .author-avatar {
        width: 50px;
        height: 50px;
    }

    .author-avatar i {
        scale: 2;
    }

    .post-content img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 530px) {
    .post-category {
        display: none;
    }

    .header .brand {
        display: none;
    }

    .hero .post-title {
        font-size: 1.5em;
    }
}
