<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Travel Planner</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <header>
            <div class="logo">Travel Planner</div>
        </header>
        <main>
            <section class="hero-section">
                <p>Make your trip more enjoyable</p>
            </section>
            <section class="search-section">
                <form
                    class="search-form"
                    onsubmit="return Client.handleSubmit(event)"
                    oninput="return Client.validateUserInput()"
                >
                    <div class="form-group">
                        <label for="location">Your Destination</label>
                        <input id="location" type="text" />
                        <div id="location-error" class="message"></div>
                    </div>
                    <div class="form-group">
                        <label for="date">Departure Date</label>
                        <input id="date" type="date" />
                        <div id="date-error" class="message"></div>
                    </div>
                    <div class="form-group">
                        <input
                            class="btn search-btn"
                            type="submit"
                            value="Search"
                        />
                    </div>
                </form>
            </section>
            <section class="result-section"></section>
            <section class="trip-section"></section>
        </main>
        <footer><p>Travel Planner &copy;</p></footer>
        <script>
            // Check that service workers are supported
            if ("serviceWorker" in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener("load", () => {
                    navigator.serviceWorker.register("/service-worker.js");
                });
            }
        </script>
    </body>
</html>
