@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* variables */
$light-blue: #caf0f8;
$dark-blue: #03045e;
$dark-red: #c00;
$dark-yellow: #fc0;
$white: #fff;

$main-font: "Rubik", sans-serif;

/* base */
* {
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: $dark-blue;
    background-color: $light-blue;
    margin: 0;
    padding: 0;
    min-width: 300px;
}

.search-section,
.result-section,
.trip-section {
    max-width: 960px;
    margin: 30px auto;
    padding: 0 30px;
}

.trip-section {
    display: grid;
    grid: auto / 1fr 1fr 1fr;
    gap: 30px;
}

input[type="text"],
input[type="date"] {
    color: $dark-blue;
    background-color: $white;
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    border: 2px solid $dark-blue;
    border-radius: 3px;
    height: 3rem;
    font-family: $main-font;
    &.error {
        border: 2px solid $dark-red;
    }
}

.btn {
    color: $dark-blue;
    background-color: $dark-yellow;
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    border: 2px solid $dark-blue;
    border-radius: 3px;
    transition: all ease 0.25s;
    cursor: pointer;
    height: 3rem;
}

/* header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: $light-blue;
    background-color: $dark-blue;
}

/* main */

main {
    flex: 2;
}

/* hero */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    position: relative;
    background: url("../media/images/hero.jpg") center 35% / cover no-repeat;
    & p {
        color: $light-blue;
        font-size: 2rem;
        font-weight: bold;
        padding: 0 20px;
    }
}

/* form */

.search-form {
    display: grid;
    grid: auto / 2fr 2fr 1fr;
}

.form-group {
    display: inline-block;
    flex: 1 1 auto;
    padding: 20px;
}

.message {
    padding-top: 20px;
    color: $dark-red;
}

.search-btn {
    margin-top: 24px;
}

label {
    display: block;
    margin-bottom: 5px;
}

/* card */

.card {
    color: $dark-blue;
    background-color: $white;
    display: grid;
    grid-template:
        "card-image card-body" auto
        "card-image card-footer" 40px / 3fr 2fr;
    border-radius: 3px;
    overflow: hidden;
    &__image {
        grid-area: card-image;
        height: 400px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__body {
        grid-area: card-body;
    }
    &__text {
        padding: 15px;
    }
    &__weather {
        display: flex;
        align-items: center;
        padding: 15px;
        border-top: 1px solid $dark-yellow;
        &--icon {
            flex: 1 1 40%;
            max-width: 40%;
            img {
                width: 100%;
            }
        }
        &--info {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            flex: 1 1 60%;
            max-width: 60%;
            p {
                margin: 0;
                &.temp {
                    font-size: 1.2rem;
                }
            }
        }
    }
    &__footer {
        grid-area: card-footer;
        & .btn {
            border: 0;
            border-radius: 0;
            padding: 10px 15px;
            background-color: $dark-yellow;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            & i {
                transition: all 0.25s ease;
                margin-right: 7px;
            }
            &:hover {
                & i {
                    &.fa-solid {
                        color: #c00;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .search-form {
        display: grid;
        grid: auto / 1fr 1fr;
    }

    .trip-section {
        display: grid;
        grid: auto / 1fr 1fr;
        gap: 30px;
    }

    .card {
        grid-template:
            "card-image card-body" auto
            "card-image card-footer" 40px / 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .search-form {
        display: grid;
        grid: auto / 1fr;
    }

    .trip-section {
        display: grid;
        grid: auto / 1fr;
        gap: 30px;
    }

    .card {
        grid-template:
            "card-image card-body" auto
            "card-image card-footer" 40px / 1fr 2fr;
    }

    .hero-section p {
        font-size: 1.5rem;
    }
}

.card {
    &--column {
        grid-template:
            "card-image" auto
            "card-body" auto
            "card-footer" 40px/ 1fr;
        .card__image {
            max-width: 100%;
            max-height: 150px;
            overflow: hidden;
        }
    }
}
